.container{
    background: #5A3F37;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    >.mobile-header{
        display:none
    }
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    >img{
        width: 150px;
        height: 40px;
    }
}
.search{
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    >input{
        align-items: center;
        text-align: center;
        color:rgb(0, 0, 0);
        background-color: #f1e9ec;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 38vw;
        height: 7vh;
    }
    .boutton {
        background-color: #f1e9ec;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 7vw;
        border: none;
        display: flex;
        justify-content:center;
        align-items:center;
        height: 7vh;
        padding: 1px;
        >mat-icon{
            box-shadow: 1px 1px 12px #555;
            display: flex;
            width: 5vw;
            text-align: center;
            height: 5vh;
            background-color: #ff5900;  
            justify-content: center;
            border: none;
            border-radius: 5px;
            align-items: center;
            font-size: 25px;
        }
    }
}
.pages{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    >span{
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        >a{
            font-size: 11px;
        }
        >h3{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: lighter;
            height: 1.5vh;
            >mat-icon{
                color: white;
                font-size: 30px;
            }
        }
    }
    >.green{
        background-color: #ff5900;
        color: white;
        width: 200px;
        font-size: 14px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 10px;
        height: 50px;
    }
}


/* Styles spécifiques aux écrans mobiles (largeur < 768px) */
@media (max-width: 970px) {
    .logo{
        >img{
            width: 100px;
            height: 30px;
        }
    }
  .container {
    font-size: 12px; /* Exemple de style pour le texte */
    >.mobile-header{
        display: flex;
        align-items:center;
        text-align:center;
        >.menu{
            >mat-icon{
                font-size: 27px;
            }
            width: 70px;
        }
        >.logo{
            margin-left: 5%;
        }
      }
  }
  .pages{
    display:none
  }
}