<div class="container">
    <div class="mobile-header">
        <div class="menu" (click)="openMenuFunction()">
            <mat-icon>menu</mat-icon>
        </div>
        <div class="logo" [routerLink]="['']">
            <img alt="logo" src="assets/images/logo.png">
        </div>  
    </div>
    <div *ngIf="openMenu==true" class="mobile-menu">
        <app-menu-mobile></app-menu-mobile>   
    </div>
    <div class="pages">
        <div class="logo" [routerLink]="['']">
            <img alt="logo" src="assets/images/logo.png">
        </div>
        <div class="green" [routerLink]="['/vendre']">Mettre une annonce <mat-icon>add_box</mat-icon></div>
        <div class="search">
            <input id="search-input" placeholder=" Rechercher sur LaRecupe" />
            <div class="boutton">
                <mat-icon>search</mat-icon>
            </div>
        </div>
        <span>
            <h3>
                <mat-icon>replay</mat-icon>
            </h3>

            <a>
                Mes recherches
            </a> 
        </span>
        <span  [routerLink]="['/messagerie']">
            <h3>
                <mat-icon> chat</mat-icon>
            </h3>

            <a>
                Messages
            </a> 
        </span>
        <span>
            <h3>
                <img *ngIf="photo!=''" (click)="auth.logout({ logoutParams: { returnTo: document.location.href } })" [src]="photo" alt="Photo de profil">
                <mat-icon *ngIf="photo==''" (click)="auth.loginWithRedirect()">account_circle</mat-icon>
            </h3>
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
                <label class="log" (click)="auth.logout({ logoutParams: { returnTo: document.location.href } })">
                  Se deconnnecter
                </label>
              </ng-container>
          
              <ng-template #loggedOut>
                <label class="log"  (click)="auth.loginWithRedirect()">Se connecter</label>
              </ng-template>
        </span>
    </div>

</div>
