.items{
    display: flex;
    justify-content: space-around;
    height: 100px;
    flex-direction: row;
    margin: 1rem;
    align-items: center;
    >.item{
        text-align: center;
    }
}
.footer {
    color: white;
    background-color: rgb(40, 35, 35);
}
p{
    height: 60px;
    text-align: center;
    align-items: center;
}