<app-header></app-header>

<body>
    <div class="list-conversations">
            <!-- Afficher les conversations ici -->
            <legend><h2>Vos conversations</h2></legend>
            <span *ngFor="let conversation of conversations">{{ conversation }}</span>
            <span>
                <mat-icon>account_circle</mat-icon>
                <aside>
                    <label>user name</label>
                    <legend>envoyer il y a 1h</legend>
                </aside>
        </span>
        <span>
                <mat-icon>account_circle</mat-icon>
                <aside>
                    <label>user name</label>
                    <legend>envoyer il y a 1h</legend>
                </aside>
        </span>
        <span>
                <mat-icon>account_circle</mat-icon>
                <aside>
                    <label>user name</label>
                    <legend>envoyer il y a 1h</legend>
                </aside>
        </span>
            <span>
                <mat-icon>account_circle</mat-icon>
                <aside>
                    <label>user name</label>
                    <legend>envoyer il y a 1h</legend>
                </aside>
        </span>
        <span>
                <mat-icon>account_circle</mat-icon>
                <aside>
                    <label>user name</label>
                    <legend>envoyer il y a 1h</legend>
                </aside>
        </span>
        <span>
                <mat-icon>account_circle</mat-icon>
                <aside>
                    <label>user name</label>
                    <legend>envoyer il y a 1h</legend>
                </aside>
        </span>
            <span>
                    <mat-icon>account_circle</mat-icon>
                    <aside>
                        <label>user name</label>
                        <legend>envoyer il y a 1h</legend>
                    </aside>
            </span>
            <span>
                    <mat-icon>account_circle</mat-icon>
                    <aside>
                        <label>user name</label>
                        <legend>envoyer il y a 1h</legend>
                    </aside>
            </span>
            <span>
                    <mat-icon>account_circle</mat-icon>
                    <aside>
                        <label>user name</label>
                        <legend>envoyer il y a 1h</legend>
                    </aside>
            </span>
    </div>
    <div class="conversation">
        <div class="echange"></div>
        <div class="textarea">
            <input type="text">
            <button type="submit"><mat-icon>send</mat-icon></button>
        </div>
    </div>
</body>