<div class="tab">
    <div class="item" [routerLink]="['/vendre']">
        <mat-icon>add_box</mat-icon>Mettre une annonce
    </div>
    <div class="item bar" [routerLink]="['/recherche']">
        <mat-icon>search</mat-icon>Rechercher
    </div>
    <div class="item" [routerLink]="['/messagerie']">
        <mat-icon> chat</mat-icon>Messages
    </div>
    <div class="item">
        <mat-icon>replay</mat-icon>Recherches sauvegardées
    </div>
    <div class="item">
        <img *ngIf="photo!=''" (click)="auth.logout({ logoutParams: { returnTo: document.location.href } })" [src]="photo" alt="Photo de profil">
        <mat-icon  *ngIf="photo==''" (click)="auth.loginWithRedirect()">account_circle</mat-icon>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <label (click)="auth.logout({ logoutParams: { returnTo: document.location.href } })">
              Se deconnnecter
            </label>
          </ng-container>
      
          <ng-template #loggedOut>
            <label (click)="auth.loginWithRedirect()">Se connecter</label>
          </ng-template>
    </div>
</div>
<div class="categories">
    <h3 class="title">Catégories</h3>
    <div class="item">
       Immobilier
    </div>
    <div class="item">
        Véhicules
    </div>
    <div class="item">
        Ammeublement
    </div>
</div>
