<div class="tab">
    <div class="item" [routerLink]="['/vendre']">
        <mat-icon>add_box</mat-icon>Mettre une annonce
    </div>
    <div class="item bar">
        <mat-icon>search</mat-icon>Rechercher
    </div>
    <div class="item">
        <mat-icon> chat</mat-icon>Messages
    </div>
    <div class="item">
        <mat-icon>replay</mat-icon>Recherches sauvegardées
    </div>
    <div class="item" (click)="auth.loginWithRedirect()">
        <mat-icon>account_circle</mat-icon>    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <label (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
              Se deconnnecter
            </label>
          </ng-container>
      
          <ng-template #loggedOut>
            <button (click)="auth.loginWithRedirect()">Se connecter</button>
          </ng-template>
    </div>
</div>
<div class="categories">
    <h3 class="title">Catégories</h3>
    <div class="item">
       Immobilier
    </div>
    <div class="item">
        Véhicules
    </div>
    <div class="item">
        Ammeublement
    </div>
</div>
