<div class="tab">
    <div class="item">
        <mat-icon>add_box</mat-icon>Mettre une annonce
    </div>
    <div class="item bar">
        <mat-icon>search</mat-icon>Rechercher
    </div>
    <div class="item">
        <mat-icon> chat</mat-icon>Messages
    </div>
    <div class="item">
        <mat-icon>replay</mat-icon>Recherches sauvegardées
    </div>
    <div class="item">
        <mat-icon>account_circle</mat-icon>Se connecter
    </div>
</div>
<div class="categories">
    <h3 class="title">Catégories</h3>
    <div class="item">
       Immobilier
    </div>
    <div class="item">
        Véhicules
    </div>
    <div class="item">
        Ammeublement
    </div>
</div>
