.item{
    display:flex;
    justify-content :flex-start;
    align-items: center;
    margin: 2em;
    >img{
        border-radius: 30px;
        width: 28px;
        margin-right: 4px;
    }
    >mat-icon{
        margin-right: 2px;
    }
}
h3{
    margin: 1em;
}